<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Hello Java</display-name>
	
	<filter>
	<filter-name>Custom Login Filter</filter-name>
	<filter-class>org.fiters.CustomFilter2</filter-class>
	<init-param>
		<param-name>serverName</param-name>
		<param-value>{place server url}</param-value>
	</init-param>
	<init-param>
			<param-name>redirectAfterValidation</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
		<param-name>userNameLabel</param-name>
		<param-value>{user name label in the login form}</param-value>
	</init-param><init-param>
		<param-name>passwordLabel</param-name>
		<param-value>{password name label in the login form}</param-value>
	</init-param><init-param>
		<param-name>casServerUrl</param-name>
		<param-value>{cas server url}</param-value>
	</init-param><init-param>
		<param-name>serviceUrl</param-name>
		<param-value>{service url for logging in }</param-value>
	</init-param>
	</filter>
	
	
<filter>
	<filter-name>Custom Logout Filter</filter-name>
	<filter-class>org.fiters.CustomLogoutFilter</filter-class>
	</filter>

<filter-mapping>
		<filter-name>Custom Login Filter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>Custom Logout Filter</filter-name>
		<url-pattern>/logout</url-pattern>
	</filter-mapping>



	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>org.pramati.samples.HelloServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>org.pramati.samples.LogoutServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet>
	    <servlet-name>restlet</servlet-name>
	    <servlet-class>org.restlet.ext.spring.RestletFrameworkServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	 
	<servlet-mapping>
	    <servlet-name>restlet</servlet-name>
	    <url-pattern>/v1/*</url-pattern>
	</servlet-mapping>
	
	

	
	
</web-app>
